.layout {
  height: 100vh;
}
.layout-logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #002140;
}
.layout-logo img {
  display: flex;
  width: 40px;
  height: 40px;
}
.layout-logo h1 {
  color: #fff;
  margin-bottom: 0;
  font-size: 18px;
  white-space: nowrap;
}
.layout-header {
  padding: 10px 20px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.layout-header img {
  width: 30px;
  height: 30px;
}
.layout-header span {
  margin: 0 5px 0 10px;
}
.layout-nav {
  padding: 10px 20px;
  background-color: #fff;
}
.layout-nav h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.layout-content {
  padding: 20px;
}
.layout-footer {
  text-align: center;
}
